---
token: "token goes here!"

MASTODON_URL: "https://social.xhec.dev"
MASTODON_EMAIL: "nope@someone.com"
MASTODON_PASSWORD: "SomeGreatPassword"

# Types: watching, listening, playing
DEFAULT_STATUS_TYPE: "playing"

# These are currently the only substitutions
# - {number_users}
# - {guild_count}
DEFAULT_STATUS_TEXT: "in {guild_count} servers"

# Text for messages:
# Note {command} is the only substitution allowed here (we do auto-mention the user)
WRONG_PERMS: "You're not a special snowflake, so you can't run `{command}`"

# Should the owner get a DM when the bot restarts
OWNER_DM_RESTART: True