---
token: "token goes here!"

mastodon_url: "https://social.xhec.dev"
mastodon_email: "nope@someone.com"
mastodon_password: "SomeGreatPassword"

# Types: watching, listening, playing
default_status_type: "playing"

# These are currently the only substitutions
# - {number_users}
# - {guild_count}
default_status_text: "in {guild_count} servers"

# Text for messages:
# Note {command} is the only substitution allowed here (we do auto-mention the user)
wrong_perms: "You're not a special snowflake, so you can't run `{command}`"

# Should the owner get a DM when the bot restarts
owner_dm_restart: True

# Don't load these extensions, even if they exist in the src/exts folder
# Separate with ,
# Example: "shell,social"
skip_ext: ""

# Where is the persistent storage?
# (This is /gb-data if you're using docker,
# otherwise it can be any dir you can write to)
volpath: "/gb-data"

# OpenAI Api key
openai_key: "incomprehensible string goes here"