aiohttp
aiosignal
async-timeout
attrs
charset-normalizer
disnake[voice]
frozenlist
idna
multidict
peewee
PyYAML
yarl
discord-pretty-help
PyNaCl
async-timeout
asyncio
pillow
requests
gmplot
black
duckduckgo3
chatbotAI
wikipedia
geoip2
Mastodon.py
toml
random-word
python-dateutil
openai
translators