aiohttp==3.12.14
asyncio==4.0.0
better-profanity==0.7.0
disnake==2.9.1
geoip2==5.1.0
pillow==11.3.0
pyfiglet==1.0.3
pytz==2025.2
requests==2.32.4
toml==0.10.2
translators==5.9.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2