aiohttp==3.10.11
asyncio==3.4.3
better-profanity==0.7.0
disnake==2.9.1
geoip2==5.0.1
pillow==11.1.0
pyfiglet==1.0.2
pytz==2025.2
requests==2.32.2
toml==0.10.2
translators==5.9.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2