name: Check Unused Packages
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  creosote-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    
    - name: Install dependencies
      run: |
        cd bot
        python -m venv venv
        ./venv/bin/pip install --upgrade pip
        ./venv/bin/pip install creosote
        ./venv/bin/pip install -r requirements.txt
    
    - name: Run Creosote
      # ignoring 'pillow' package (since it's called PIL so it 'seems' unused)
      # same for `dateutil` which is actually `python-dateutil`
      # and `yaml` which is actually `PyYAML`
      # and `PyNaCl` which is used internally by disnake for voice support
      run: |
        cd bot
        ./venv/bin/creosote --venv venv --deps-file requirements.txt --exclude-dep 'pillow' --exclude-dep 'python-dateutil' --exclude-dep 'PyYAML' --exclude-dep 'PyNaCl'
    
    - name: Check Creosote output
      run: |
        cd bot
        if [ -s creosote_unused_requirements.txt ]; then
          echo "Unused packages found:"
          cat creosote_unused_requirements.txt
          exit 1
        else
          echo "No unused packages found."
        fi
